<server>
    <id>dev-azure-com-misteha-dkenhanced</id>
    <username>DKEnhanced</username>
    <!-- Treat this auth token like a password. Do not share it with anyone, including Microsoft support. -->
    <!-- The generated token expires on or before 1/27/2020 -->
    <password>vjdj4aearonxo2uappjzeebwc4hrxmun5zu4uwmwao3aeuqpvdyq</password>
</server>